/* global  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a{
    text-decoration: none;
    color: whitesmoke;

}
header{
  width: 100vw;
  height: 100vh;
  background-image: url(./grid_image/travel4.jpg);
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}
.header_content{
    color: whitesmoke;
    text-align: center;

}
.header_content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background-color: #fc036b;
    margin: 10px auto;
    border-radius: 10px;

}
.header_content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;

}
.ctn{
    padding: 8px 15px;
    background-color: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}
/* navebas */
li{
    list-style: none;
    color: whitesmoke;
}
.active a{
    color:#fc036b;
    text-decoration: underline;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content:space-between;
    padding: 20px;
    /* color: whitesmoke; */

}
.nav-links{
    display: flex;
    align-items: center;
    

}
.nav-links li{
    margin: 0 10px;
    font-size: 4vmin;
}
.btn-menu{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;

}

/* mobile device */
@media only screen and (max-width: 850px){
    .header{
        padding: 0px;

    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .mlist{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: blueviolet;
        /* margin-top: -900px; */
        /* transition: all 0.5s ease; */
        display: none;

    }
    .mlist li{
        margin: 30px auto;
        font-size: 4vmin;
    }
    .btn-menu{
        margin: 0px;
        display: block;
    }


}